[2021-06-23 06:32] chetan6780 opened #2 "Failed to create data directory"
Hello, I am having this issue, not sure others having the same issue or not but I just want to let you know this
![image](https://user-images.githubusercontent.com/62825092/123045716-dd2dc500-d418-11eb-9243-f54156c1ee92.png)
![image](https://user-images.githubusercontent.com/62825092/123045921-1d8d4300-d419-11eb-9b53-e82881de219f.png)

After surfing on the web and trying different solution it stil

[2021-06-23 06:59] chetan6780 opened #3 "Typos and addition in README.md"
There is a typo in "sending images" section, the code should be
[code]
and we should let know users include **country code** in find_user() before they write the code.
I want to correct this type and add the above message, can I do it?

[2021-06-23 07:48] Kalebu commented on #3
Hello @chetan6780 Thanks for noticing that, surely you can proceed

Just ensure to not break the code and following best practices

[2021-06-23 07:52] Kalebu commented on #2
You have to make sure that only one instance of your chrome browser is running otherwise it will raise an error, so close an existing chrome window and only one being controlled by alright (One at the time).

If not you can try to run your script as administrator, Let me know how it goes

[2021-06-23 07:59] #3 closed

[2021-06-23 08:01] chandansgowda opened #5 "Noticed some grammar mistakes in README"
If you're facing any issue or difficult with the usage of the package just raise one so as we can fix it as soon as possible. Difficult -- Difficulty and as -- that

[2021-06-23 08:03] Kalebu commented on #5
Hey @chandansgowda  you can proceed to fixing it

[2021-06-23 09:16] chetan6780 commented on #5
hello @chandansgowda please fix this one also
![image](https://user-images.githubusercontent.com/62825092/123070833-bcbe3480-d431-11eb-9016-aeb0f00e19ed.png)
 withour --> without

[2021-06-23 09:37] chetan6780 commented on #2
@Kalebu I have run the script as an administrator and no other instance of crome was running but still, it's not working.
I am on windows and followed the documentation.
if possible, can you make a small screencast for a demonstration?

[2021-06-23 10:09] Kalebu commented on #2
Just made a short screencast about that, Here a a link https://youtu.be/yitQTt-NukM

[2021-06-23 10:18] Kalebu commented on #2
So maybe cloning the repository and then just import alright as a package without installing it

So as the User_Data can be created locally and not on system files

[2021-06-23 10:19] Kalebu commented on #2
Let me know how it goes

[2021-06-23 10:21] chetan6780 commented on #2
I did same, like copied __init__.py and then added code at last

[2021-06-23 10:24] chetan6780 commented on #2
nice demo, I will try it on ubuntu and let you know.

[2021-06-23 10:43] Kalebu commented on #2
Cool, Thanks for suggestions, comments, and contributions

It makes a smooth path other devs  who might have samiliar issues

cheers

[2021-06-23 10:56] Kalebu commented on #5
This already resolved by #6  I can now close the issue

[2021-06-23 10:57] #5 closed

[2021-06-23 20:22] shusterboris opened #7 "Crashes during messanger creation"
Hi! I'm facing with issue!
Can't start. Thank you advance!

messenger = WhatsApp()
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Program Files\Python39\lib\site-packages\alright-1.1-py3.9.egg\alright\__init__.py", line 27, in __init__
  File "C:\Program Files\Python39\lib\site-packages\selenium-4.0.0b4-py3.9.egg\selenium\webdriver\chrome\webdriver.py", line 69

[2021-06-23 22:15] Kalebu commented on #7
On the window, you could try commenting on line 27 on the *alright/.__init__.py* and adding

[code]
 and then installing manually, Let me know if it works

Here a [Reference](https://stackoverflow.com/questions/36434415/chromedriver-cannot-create-default-profile-directory)

[2021-06-24 08:54] shusterboris commented on #7
I'm still see strange message (see below), but It's working! Many thanks! Are you planing add method, something like readUserMessages()? From my point of view it would be very usefull. Thanks again. For some time I have been thinking  to write a simple auto answer bot for my needs. And the Facebook account registration and submission requirements are so bizarre.

DevTools listening on ws://127.0.0

[2021-06-24 09:15] Kalebu commented on #7
Hello, @shusterboris  I'm glad it worked, so I'm not using window not really be sure what might be causing that..

I will see the possibility to add *read_user_messages()* if doable then soon will be added

Stay tuned  !!

[2021-06-24 14:11] chetan6780 commented on #2
hello @Kalebu that solution you told in #7 is worked for me on windows.

[2021-06-24 14:39] nurgasemetey opened #8 "Check for new messages"
Does it support checking for new messages?

[2021-06-24 15:54] Kalebu commented on #2
Cool Thanks for the feedback just made it default and already pushed it on PyPI so that future users don't face this challenge.

In the Next version, Let's expect the capability to read messages, still researching on possibilities

I can now both of the issues

[2021-06-24 15:54] #2 closed

[2021-06-24 15:57] #7 closed

[2021-06-24 16:04] Kalebu commented on #8
Hello @nurgasemetey, Currently **alright** does not support reading and checking for new messages

But expect it to be available in coming versions and you can also be one of the contributors for it

Stay tuned

[2021-06-27 18:16] notbushman opened #9 "Error Message?"
`>>> messenger.find_by_username('username')
Traceback (most recent call last):
  File "<pyshell#4>", line 1, in <module>
    messenger.find_by_username('username')
TypeError: find_by_username() missing 1 required positional argument: 'username'`

[2021-06-28 07:37] Kalebu commented on #9
That is more likely to occur when you try to access the method *find_by_username()* without firstly creating an instance of *WhatsApp*, Can you show more of the full snippet you're trying to run ?

[2021-07-19 05:39] PhilipWee opened #11 "send_picture closes too quickly, making it unable to send the image"
Right now send_picture closes too quickly, resulting in the image not being sent

I have temporarily resolved it myself using the following time.sleep:

[code]

[2021-08-05 13:59] jaydip-c opened #12 "Sending message without opening browser"
Is it possible to send the messages while whatsapp-web tab is closed? Of course I would open it to read the qr code. But once that is done, I would close the tab. Is it possible to send the message even then?

[2021-08-06 05:18] jaydip-c opened #13 "Other Browsers"
I am using Brave browser. Is it possible to open whatsapp web page in a Brave tab? Or, do I have to install Chromium?

Thanks.

[2021-08-07 09:33] Kalebu commented on #11
Hi @PhilipWee

At the time of development, the timing worked perfectly,

Thanks for noticing that, I'm sure it's going to help other folks facing the same issue

Best regards
Kalebu

[2021-08-07 09:39] Kalebu commented on #12
Hi @jaydip-c

I think that's doable perhaps I never tried it myself, If you run selenium in headless mode, it will open the chrome in the background, so you need to add extra arguments under the chrome_options property in alright with these new arguments

[code]

Here a [StackOverflow](https://stackoverflow.com/questions/46920243/how-to-configure-chromedriver-to-initiate-chrome-browser-in-headless

[2021-08-07 09:43] Kalebu commented on #13
Hi @jaydip-c

So I'm using Brave browser but I had an issue with selenium failing to open a brave browser using chrome driver,
whereby with the current implementation chromedriver is mandatory.

Therefore I suggest you install Chrome (Tested ) or Chromium (Not so sure but might work) for alright to work

[2021-08-12 04:24] manthrayilsubin opened #14 "Sending picture message failing"
It seems there is change in dom.The send picture message is not working.

[2021-08-12 04:46] manthrayilsubin commented on #14
send button xpath to be modified as
//*[@id="app"]/div[1]/div[1]/div[2]/div[2]/span/div[1]/span/div[1]/div/div[2]/div/div[2]/div[2]/div/div/span

[2021-08-14 11:36] Kalebu commented on #14
Hi @manthrayilsubin

Thanks for pointing that, can you create a pull request for that and I will approve it right away

Best regards
Kalebu

[2021-08-20 09:36] pNew700 opened #15 "Close the browser after running the code"
what command should I use to close the browser after running the code? I've tried driver.close() and driver.quit() , but none of it worked

[2021-08-24 13:46] reydeargentina opened #16 "username_exists function"
Hi all, first of all let me say it's my first time interacting like this on Github. I'll try my best.
I found a problem while trying to send a message to more than one destination, when one of those was not saved as a contact. What happened was that the _find_by_username_ function performed the search, but if there was no result for the search, there was no special output to detect it. So, the cha

[2021-08-29 16:41] vadolasi commented on #16
Create a pull request to add your function.
See https://opensource.com/article/19/7/create-pull-request-github to learn how

[2021-08-29 23:38] Ramacap commented on #14
thanks! it worked

[2021-08-31 12:12] vinifroes opened #19 "Find user by chatid"
How to find user by chatid, not using a wa.me API?

[2021-08-31 13:06] vinifroes commented on #15
This work for me...

`
    def close(self):
        self.browser.close()
`

`
import time
...
time.sleep(5)
messenger.close()
`

[2021-08-31 13:14] vinifroes opened #21 "Message with line break"
How I break line in place of '\n'?

[code]

[2021-08-31 13:44] vinifroes commented on #21
I solved this way:

Replace the code:

`input_box.send_keys(message + Keys.ENTER)`

For:

[code]

[2021-08-31 13:47] #21 closed

[2021-09-05 15:07] VanshKela commented on #14
Is It correct?

[2021-09-06 01:02] madzul opened #23 "overwrite option"
How to overwrite any options that's already set in alright?

[2021-09-06 02:52] madzul opened #24 "how to disable open WhatsApp application"
everytime i run the code (from the examples), a web browser (Chrome) opened and then ask me to open whatsapp application (https://api.whatsapp.com wants to open this application)
if I canceled, then the browser do nothing, otherwise the whatsapp application is opened and alright gave me error:
`raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.ElementNotInteractableExce

[2021-09-06 18:37] vadolasi commented on #13
Try this:

[code]

[2021-09-08 23:49] amelsakka opened #25 "Link preview"
Sorry, I'm developing for fun and I don't know much about github, so please forgive my ignorance.

I have an idea to be added to **alright** (nice job, by the way @Kalebu ):

First I added another wait in __init__:
`        self.wait2 = WebDriverWait(self.browser, 5)`

Then the new function:
[code]

It waits for 5 seconds for the preview to load, if it didn't load, then it sends the message anyway

[2021-09-09 17:05] VanshKela commented on #24
Yes can anyone fix this? I guess problem is with wa.me/ link as it is trying to open api.whatsapp.com

[2021-09-09 18:14] vadolasi commented on #25
Create a pull request to add your function.
See https://opensource.com/article/19/7/create-pull-request-github to learn how

[2021-09-09 18:26] vadolasi commented on #23
But if you're talking about configuring the browser, just do this:

[code]

If you're talking about something else, please be more specific.

[2021-09-09 18:31] vadolasi commented on #16
@Kalebu I believe this issue can now be closed

[2021-09-09 20:37] Kalebu commented on #16
Yeah sure, Let me know do this

Thanks for your amazing contribution to alright, highly appreciated

Best regards

[2021-09-09 20:38] #16 closed

[2021-09-09 20:43] Kalebu commented on #9
I'm closing this issue due to long-time of inactivity and zero feedback provided.

[2021-09-09 20:43] #9 closed

[2021-09-09 21:53] Kalebu commented on #25
Hello @amelsakka, You're warmly welcomed to the team of **alright**  contributors.

Hope that the link shared by @vadolasi  will help you figure out on making your feature added to alright.

Let us know if you will face any issues in the process of making your contribution.

Wish you the best of luck

Best regards
Kalebu

[2021-09-10 03:51] VanshKela opened #26 "Check if number is invalid"
Currently if the number is invalid or not on Whatsapp. Application does nothing.

[2021-09-10 05:36] Kalebu commented on #26
Any idea to resolve this ?

[2021-09-10 06:01] VanshKela commented on #26
Will it be possible?

[2021-09-10 07:19] VanshKela commented on #26
We can also do one more thing we can create another wait WebDriverWait that waits for 20 seconds rather than 600 and can wait for XPath for input box if not found we can just return?

[2021-09-14 15:50] matiastiberio opened #28 "send message text error"
Hi I'm currently trying to send a message and a image, but it doesn't sends the message and stands still in that part:

from alright import WhatsApp
messenger = WhatsApp()
numbers = ['14155238886']
for number in numbers:
        messenger.find_user(number)
        messenger.send_message("I wish you a Merry X-mass and Happy new year ")
        messenger.send_picture('/Users/matiasgonzalotiberio/Des

[2021-09-15 10:58] duclenk commented on #28
im facing the same issue, it happen last day.
before that everything worked well

[2021-09-15 11:08] Kalebu commented on #28
I think WhatsApp might have changed the Xpath for the send button, will give a look

[2021-09-16 03:54] duclenk commented on #28
thanks, i hope i can use this library again. because help me alot for broadcasting message :(

[2021-09-16 14:42] Ramacap commented on #28
facing same problem, do you know if they changed it ? thanks!!

[2021-09-16 17:33] Ramacap commented on #28
Hi again i changed the xpath of the input_box and it worked again

'//*[@id="main"]/footer/div[1]/div/div/div[2]/div[1]/div/div[2]'

[2021-09-27 05:27] Kalebu commented on #28
Thank you @Ramacap, Already included in the main branch

I highly appreciate

[2021-09-27 05:27] #28 closed

[2021-11-24 08:03] evanrianto opened #30 "Newbie guide"
Sorry to ask this, but do I need to login via chrome first before I'm using alright? Thanks!

[2021-11-24 19:06] Kalebu commented on #30
You will need to that on the very first time, on browser launched by selenium and then right after that you won't need to login again

[2021-11-27 17:29] BilalBhatti opened #31 "Use Existing Open Chrome Window with Whatsapp Web"
I believe loading whatsapp window again and again consumes alot of resources over my Pi. Is it possible to use already open window and send message? How about copying message to clip-board and pasting it using selenium in existing window?

[2021-11-30 12:29] d202021 opened #32 "Multi-Line Text Message"
How to send a multi-line text message, the Keys.SHIFT+Keys.ENTER command translates to weird characters

[2021-12-09 12:24] andersonfelipev opened #37 "send message with emojis"
Hey guys, does anyone know how to send messages that contain emojis?

[2021-12-17 14:58] victorterancas opened #38 "How to send image with caption"
Is my first time making a coment in github, i am sending an "improvement" of "send_picture()". It is how to send a picture with text on it:

`
def send_picture(self, picture, message):
        try:
            filename = os.path.realpath(picture)
            self.find_attachment()
            # To send an Image
            imgButton = self.wait.until(EC.presence_of_element_located(

[2021-12-25 14:41] therealcyber71 opened #39 "Doesn't work on raspberry pi"
Hello there, I'm migrating from pywhatkit and I loved your package, but there seems to be a problem whil I was working on a raspberry pi, the chrome driver installation is not being recognised by alright, how do I deal with this issue, please let me know asap.

[2021-12-25 15:08] Sachit71 commented on #39
Ok so I used a little bit of my brain and went through the documentation again, alright uses google chrome, whereas a rpi uses chromium, how do I change the browser driver installation?

[2021-12-25 18:59] Sachit71 commented on #39
I removed the web driver manager and simply installed the required driver, but now the it leads me to a deep link which whatsapp doesnt recognize

[2021-12-25 19:22] Kalebu commented on #38
Hello @victorterancas, This is really interesting

Can you please adding to the main codebase and submit your pull request

Let me know if you would need assistance and any further clarification on that

You can also read [How to make your first contribution](https://codeburst.io/a-step-by-step-guide-to-making-your-first-github-contribution-5302260a2940)

Looking forward seeing your contribution

[2021-12-25 19:24] Kalebu commented on #39
Hello @Sachit71 , I personally haven't tested alright outside the chrome browser

The best I would advice for you is installing the Chrome browser

[2021-12-26 02:39] Sachit71 commented on #39
hello, @Kalebu thanks for responding, but the raspberry pi doesn't support chrome and hence uses a lighter chromium version, I will now close the issue.

[2021-12-26 02:43] Sachit71 commented on #39
oh yeah, I had another doubt, if I could know how you managed to stop WhatsApp web from asking for the QRcode again and again,  could work on it.

[2022-01-18 12:14] theCJMan commented on #31
Hi there @BilalBhatti
It would be very nice if you can document for us how you made it to work on Pi
My Pi 4 is under utilized and would love to move it to Pi

[2022-01-19 06:39] BilalBhatti commented on #31
Its pretty straight forward installation

#
git clone https://github.com/Kalebu/alright
cd alright
alright > sudo python3 setup.py install
pip3 install -U selenium
sudo apt-get install chromium-chromedriver
pip3 install webdriver-manager
pip3 install --upgrade requests
#

[2022-01-21 00:50] TomShare88 opened #40 "Doesn't work when username with apostrophe (ex. St Gregory's School)"
When passing user name with apostrophe to find_by_username, it timed out

<img width="1082" alt="KevinO-ConnellFailed" src="https://user-images.githubusercontent.com/50371290/150445154-513e99f2-e8c2-4596-8d72-1108b1ccbbd5.png">

Environment:
Python 3.9.7
Chrome & chromedriver 97.0.4692
Mac 11.6.2 (Big Sur)
Junyper Notebook

[2022-01-22 13:34] TomShare88 commented on #40
<img width="782" alt="StGregory" src="https://user-images.githubusercontent.com/50371290/150640524-46fda268-1178-4425-8fa2-2dcff95d53f2.png">

[2022-01-22 13:45] TomShare88 commented on #40
Hi Alright Developers,

The issue is any name entered with apostrophe into "find_by_usename", such as Whatsapp group name.

Thank you in advance

[2022-01-24 13:26] LouisSchieferle opened #41 "How to close the terminal after running the Alright wrapper?"

[2022-01-24 17:45] LouisSchieferle opened #42 "Multiline Textmessage"
Is it possible to send multiline textmessages with whatsapp without all of them being a separate text-message

[2022-02-06 11:11] Fahad-Alsaidi commented on #24
I have the same problem

[2022-02-09 19:25] ronivaldo commented on #42
I am having the same issue here

[2022-02-10 12:04] mlicenblat commented on #24
Hi, I have the same problem.
Sometimes i close the application on every message and it works but i want to know how to do that without this problem with the desktop application.
Any idea? I suppose when you access api.whatsapp.com always tries to use the application

[2022-02-11 21:40] ammarassoum opened #43 "messenger.find_user not working with whatsapp web"
Hi,
I tried to send a whatsapp message using the alright module but when I ran the code, Goggle Chrome was launched but asks me if I want to open the whatsapp app instead of sending the message via whatsapp web as expected.
Thanks for help.

# Here is my code
messenger = WhatsApp()
messenger.find_user('12345678')
messenger.send_message('Test of alright module')

![image](https://user-images.github

[2022-02-18 07:56] adesr commented on #42
hello, we found this workaround from someone's answer in StackOverflow thread and we can use it sucessfully. the idea is to split NewLines in message and simulate SHIFT+ENTER to browser.

`for msg in message.split("\n"):
    input_box.send_keys(msg)
    ActionChains(self.browser).key_down(Keys.SHIFT).key_down(Keys.ENTER).key_up(Keys.ENTER).key_up(Keys.SHIFT).perform()
input_box.send_keys(Keys.ENTE

[2022-02-18 09:13] adesr commented on #32
Hi, take a look at [https://github.com/Kalebu/alright/issues/42#issuecomment-1044091881](this)

[2022-02-18 09:17] Kalebu commented on #42
Hi @adesr, This is cool, can you submit a pull request so we can this to the main distribution

Thank you
kalebu

[2022-03-03 05:42] vishaljangid1729 opened #45 "Program get stuck when using find_user()"

[2022-03-05 15:52] idanless commented on #43
set "V" and open WhatsApp

[2022-03-07 01:04] setijo commented on #42
from alright import WhatsApp
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
**from selenium.webdriver.common.keys import Keys**
import time
import datetime

chrome_options = Options()
chrome_options.add_argument("--headless")
chrome_options.add_argument("--disable-notifications")
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--verbos

[2022-03-17 15:47] badi95 commented on #38
Has this gotten merged in? I'd really like to use this feature.

[2022-03-17 19:12] badi95 commented on #38
Manually added this to my system, and tested it. Seemed to work fine, so I created a PR for it.

[2022-03-21 20:57] badi95 commented on #38
Issue ready to close?

[2022-03-22 07:41] victorterancas commented on #38
Yes. Thank you guys, i am still learning how to use github. 😅. Thank you @badi95 for giving me credits for the code, you made a nice job.

[2022-03-22 07:41] #38 closed

[2022-04-01 16:11] sepehrmizani opened #48 "Get chat"
hi kalebu
I think if this library can get the last chat of the user is It will be great

[2022-04-07 02:30] molder26 commented on #45
I have problem in this function when the whatsapp number is invalid or doesn't exist

[2022-04-21 15:39] theCJMan commented on #24
Hi all, I thought I left a message to say I found the problem and am looking into it to fix it...
But i do not see my comment So here it is now...

The problem is that self.suffix_link = "https://wa.me/" is causing the desktop app to open, or rather causing the browser to ask if it should open the desktop app.

If you call web.open(f"https://web.whatsapp.com/send?phone={phone_no}&text={quote(messa

[2022-04-26 14:17] #24 closed

[2022-04-26 14:20] Kalebu commented on #43
Resolve on #50 #51

[2022-04-26 14:20] #43 closed

[2022-04-26 14:23] Kalebu commented on #41
Are you referring to closing the WhatsApp window or Terminal?

[2022-04-27 11:31] rssws opened #52 "Unexpected indent"
See the error log:

[code]

Apparently, there is a wrong indent in `__init__.py`.

[2022-04-28 11:31] Kalebu commented on #52
Resolved it, Thank you for pointing out

[2022-04-28 12:52] #52 closed

[2022-05-03 22:23] andybenichou opened #53 "WhatsApp Desktop"
Hi, when sending files or media, it opens WhatsApp Desktop and so stop. I saw that you fix this with send_message1, is it possible to fix this for all the others possibilities?

Thanks

[2022-05-13 22:26] riccardoferti opened #55 "Whatsapp doesn't use whatsapp web"
When trying to send msg on ubuntu, whatsapp shows to download Desktop (that doesn't exists) or to let you select to use whatsapp web.
I remember that last week it was working good, any advice? Thank you

[2022-05-14 10:28] samratswami commented on #55
After new update from Whatsapp  only [Send Messages1] is working. Facing the same issue can anyone help?
Thanks

[2022-06-04 02:20] euriconicacio opened #56 "find_by_username search box XPATH does not work - updated it - and created close_browser method."
So, I'm using Pyhon 3.10.4, Chrome 102.0.5005.61 and Debian 9.13.

When trying to send a simple message, the code hang forever and nothing happened. While debugging, I noticed that the XPATH for the search_box on find_by_username was not correct.

Under my configuration, this is incorrect:

[code]

And this is correct:

[code]

I was wondering if this is happening to anyone else and if it depends

[2022-06-04 02:29] euriconicacio commented on #56
In addition: I'm running a scheduled script to send a message to a group periodically. I added a close_browser method to the WhatsApp class too - it could be part of the PR as well.

[2022-06-04 02:42] euriconicacio commented on #56
AND: we could check if a Chrome instance is already opened grabbing its `driver.session_id` - if it's not opened, it would return `None`; if it is opened, we could roll the code on a new tab (`body.send_keys(Keys.CONTROL + 't')`).

I mean, I can address these improvements if you guys are ok with it - just need confirmation on the first one.

[2022-06-04 09:05] Kalebu commented on #56
Hi @euriconicacio

I tried to use the method ```messenger.find_by_username``` and I'm experiencing the same issue

Please submit your PR

Thank you

[2022-06-04 10:07] euriconicacio commented on #56
@Kalebu, please find the PR [here](https://github.com/Kalebu/alright/pull/57). Thanks once again.

[2022-06-04 10:07] #56 closed

[2022-06-06 06:19] euriconicacio opened #59 "Not really an issue, just general improvements"
Hiya, folks.

Just created a [PR](https://github.com/Kalebu/alright/pull/58) with two main improvements to the code:

- Removed the `close_browser` method and created the more efficient `close_when_message_successfully_sent` method, making it useful to close the browser when the message is successfully sent.
- Added CLI logging capability, implemented as a replacement to `print` errors. Profession

[2022-06-06 07:51] euriconicacio commented on #42
@Kalebu I'll add this to my current PR since it's really useful and the OP has not sent it, ok?

[2022-06-06 14:38] #59 closed

[2022-06-06 14:38] euriconicacio commented on #42
Addressed through PR #58. 🙃

[2022-06-06 18:23] euriconicacio commented on #37
Hi, @andersonfelipev. A simple but powerful workaround is to use emojis in Unicode format, like this (an example of an emoji being printed through its Unicode in ipython):

<img width="196" alt="image" src="https://user-images.githubusercontent.com/5957301/172222164-ae4018b1-7509-40c0-a872-f6fc97098dd3.png">

A full list of emojis' Unicode values is presented here: https://unicode.org/emoji/charts

[2022-06-07 18:44] sepehrmizani commented on #48
Hi @euriconicacio  I mean the last message sent to the user

[2022-06-07 18:46] euriconicacio commented on #48
Awesome, we have a PR up for review that solves that issue. It's a tricky situation indeed, since the chats are not "ordered", but we managed to work that around.

[2022-06-08 02:49] diopratama opened #61 "Chrome failed to start: exited abnormally"
I tried to run in ubuntu with GUI installed and chrome installed, but it failed to start the chrome browser with following error:

`Traceback (most recent call last):
  File "sample.py", line 5, in <module>
    messenger = WhatsApp()
  File "/usr/local/lib/python3.8/dist-packages/alright/__init__.py", line 33, in __init__
    browser = webdriver.Chrome(
  File "/usr/local/lib/python3.8/dist-packag

[2022-06-09 01:07] euriconicacio commented on #14
This is fixed. Can we please close this issue, @Kalebu, and maintainers?

[2022-06-09 06:04] euriconicacio commented on #31
Working on this!

[2022-06-09 06:13] euriconicacio commented on #32
This is already implemented and can be marked as solved, @Kalebu?

[2022-06-09 06:16] euriconicacio commented on #41
@LouisSchieferle , if you intend to close the browser, the method for that has been implemented, check it out!

However, if you do want to close the terminal itself, try something like `exec python ./my_script.py` instead of simply `python ./my_script.py`.

Hope this is helpful.

[2022-06-09 06:17] euriconicacio commented on #45
@vishaljangid1729 and @molder26: could you please give us more details so we can try and fix that? Thanks!

[2022-06-09 06:37] #14 closed

[2022-06-09 06:39] #42 closed

[2022-06-09 06:41] #32 closed

[2022-06-09 06:55] Kalebu commented on #45
Hi @euriconicacio

I know this issue as I have also previously experienced it, The issue arises when you're trying to find an unsaved contact using ``` messenger.find_user()``` but then the program gets stuck in the way when the number is not on WhatsApp as it will keep waiting for elements to show up which just takes forever

One way to fix this  will be to put time out for the ```find_user()```

[2022-06-09 06:57] euriconicacio commented on #45
Nice, @Kalebu! I'll work on that asap! Thanks for the guidance!

[2022-06-10 08:13] euriconicacio commented on #8
Implemented! New method `check_if_given_chat_has_unread_messages` supports that request, given a query parameter with the chat name. Thanks for the contribution!

[2022-06-10 08:13] #8 closed

[2022-06-11 04:44] #40 closed

[2022-06-11 04:46] euriconicacio commented on #15
Hi, @pNew700 and @vinifroes. This functionality was implemented on the `close_when_message_successfully_sent` method. Thanks for the contribution!

[2022-06-11 04:46] #15 closed

[2022-06-17 15:15] Kalebu commented on #39
Hi @therealcyber71  I just noticed you didn't receive any response on this issue

Apologize for the delay, things have been hectic but basically, we create a folder **UserData** to store the browser session including the QR code signing so next time it won't start from scratch?

ALso, Did you manage to make it work with Raspberry Pi ?

[2022-06-17 15:21] Kalebu commented on #53
Hi @andybenichou

Yes very possible, looking into this

Thanks

[2022-06-17 15:25] Kalebu commented on #39
You can also refer to issue #31  (Making it work over Pi)

[2022-06-17 15:33] therealcyber71 commented on #39
I managed to get the qr code to work just gotta hit save cookies, I haven't tested on the pi yet, I kinda moved on from that project haha but thanks for letting me know I'll get back to you asap

[2022-06-17 21:45] #39 closed

[2022-06-18 00:14] euriconicacio commented on #45
I was looking into this and an existing alternative is using `messenger.search_chat_by_name("+1 234 567-8900")`. It's sort of "brute-force" and searches only through non-archived chats, but it is working. Just ran a test with this and it worked nicely (still going to push some additional changes that will make it work, but it's going to be up shortly).

[code]

Likewise and even in a deeper/more a

[2022-06-18 00:14] #45 closed

[2022-06-18 04:21] euriconicacio commented on #48
@sepehrmizani - sorry, I misunderstood your previous message, my mistake. Just added the [`get_last_message_received`](https://github.com/Kalebu/alright/blob/6cc5a3f09d523743670dab4c0159c3f0a1add661/alright/__init__.py#L579-L633) that solves your issue. Enjoy!

cc @Kalebu, FYI. Important update, along with others delivered during the day. I think we can release 1.5 now, maybe?

[2022-06-18 04:21] #48 closed

[2022-06-18 04:22] euriconicacio commented on #11
I think this was solved with today's delivery on `send_attachment` update. Could you please confirm, and open a new issue if it persists, @PhilipWee? Thanks a lot!

[2022-06-18 04:22] #11 closed

[2022-06-18 04:23] #37 closed

[2022-06-18 04:24] euriconicacio commented on #41
Additional tip, @LouisSchieferle: if you intend to close the browser, you can use `messenger.browser.quit()` on your code. Hope this is helpful!

[2022-06-18 04:24] #41 closed

[2022-06-18 05:30] Kalebu opened #69 "messenger stuck when get_last_message_received is called"
So I was trying out the newly implemented function ```get_last_message_received``` which checks for last received message from a specific user but the program stuck when the method is called.

[code]

@euriconicacio

[2022-06-18 05:35] euriconicacio commented on #69
Is it not being able to find the chat? @Kalebu

[2022-06-18 05:38] Kalebu commented on #69
I don't think this is the reason as the same ```query_name``` can be found by ```search_by_chat_name``` and ```find_by_useranme``, Please have a closer look

[2022-06-18 05:50] euriconicacio commented on #69
This is really weird. Just added an escape for the chat name, tested here and that was the only thing uncovered (we should definitely add unit tests - adding to the TODO list).

Check this out:

These executions, now, use find_by_username you mentioned to find the group/user (the first one does not find it, the second does find:

[code]

Based on this and on the changes I just sent, these 2 execut

[2022-06-18 05:53] euriconicacio commented on #69
Oh, I have a test snippet [here](https://github.com/euriconicacio/stuff/blob/main/gg_message/whatsapp_msg.py), if you need it. 🤗

[2022-06-18 05:56] euriconicacio commented on #69
In addition, the new changes solve multiple Chrome browsers opened - the code doesn't fail anymore, it quits the "unassigned" webdrivers. The issue only persists if a previous instance of Chrome running alright via webdriver is still opened - that's why it's recommended to add `messenger.browser.quit()` at the end of the code while we work on the workaround. 🙃

[2022-06-18 06:18] Kalebu commented on #69
I think link is on private repository

[2022-06-18 06:19] euriconicacio commented on #69
[code]

[2022-06-18 06:24] Kalebu commented on #69
I just pulled from ```main`` again, here is my script

[code]

As you see other first one works but the second one stuck and it doesn't even open a chat, I then tried to comment on the block of code to wait, and then it worked like a charm

[code]

[2022-06-18 06:31] euriconicacio commented on #69
Well, that's to wait until the side menu with chats is loaded. We have it on `check_if_given_chat_has_unread_messages` as well. Check out this XPath returning reasonable responses:

<img width="640" alt="Screen Shot 2022-06-18 at 03 27 50" src="https://user-images.githubusercontent.com/5957301/174425892-3faa5ecc-ebc8-48d0-a2c0-88d50c303b9b.png">

In fact, we don't need it here, since we search thr

[2022-06-18 06:32] euriconicacio commented on #69
Done! Can I close this, @Kalebu?

[2022-06-18 06:33] Kalebu commented on #69
Sure

[2022-06-18 06:33] #69 closed

[2022-06-18 06:37] Kalebu opened #70 "Can we me have method to fetch all unread chat usernames ?"
I am just thinking out loud that can we have a method to fetch all unread chat usernames, This will be very useful when it comes to creating auto-response functionality @euriconicacio

[2022-06-18 06:42] euriconicacio commented on #70
Absolutely! Working on it as 1st priority, it may be delivered by tomorrow. We'll basically iterate through chats adapting `search_chat_by_name` and use `check_if_given_chat_has_unread_messages` on them. 🙃

[2022-06-18 09:50] euriconicacio commented on #70
@Kalebu, I just created [`fetch_all_unread_chats`](https://github.com/Kalebu/alright/blob/ded82e76ebefef8677867781d9db6324b6a93360/alright/__init__.py#L689-L740) and pushed it into main. Please, lmk if you find any issues, it works nicely here, given a couple of natural limitations for a large number of chats (500+) - adding the possibility to limit it was a plus!
Closing this, but feel free to op

[2022-06-18 12:22] Kalebu commented on #70
Hi @euriconicacio

I just tried the ```fetch_all_unread_chats``` method but it s throwing up an error as shown in the snippet below, can you please have a close look at what might be causing this.

[code]
Thank you : @euriconicacio

[2022-06-18 12:45] euriconicacio commented on #70
Absolutely weird. It appears that somehow the element is interactible to me and not to you - that happens when sending the `PAGE_DOWN` key to the div; I'd have to check this abnormal behavior. 🤔

[2022-06-18 20:43] euriconicacio commented on #70
Just confirmed, @Kalebu: can't reproduce it here (suppressed phone numbers and chats/groups names) and I'm using `messenger.fetch_all_unread_chats(limit=True, top=30)` at the same script I showed you:

[code]

I'll investigate under which circumstances an element could be interactible for one user and not for another.

Btw, I see you're using `Chrome Version 96.0.4664.45` and I'm using `Chrome Ver

[2022-06-18 23:49] euriconicacio commented on #12
Hi, @jaydip-c. Indeed, the alternatives presented by Kalebu solve the visibility issue. Hope they are helpful - please, feel free to reach out in case of any further doubt.

[2022-06-18 23:49] #12 closed

[2022-06-18 23:49] #23 closed

[2022-06-19 00:26] euriconicacio commented on #19
Hi, @vinifroes. Unfortunately, `chatid` does not seem to be a valid attribute for any descendant element of the chat `div` on the `pane-side` for WhatsApp Web. For example, check out this item ahead - there's no `chatid` at all:

[code]

Do you see any other alternative to solve your request, or have you already solved it in another way?

[2022-06-19 03:50] #26 closed

[2022-06-19 16:54] #70 closed

[2022-06-19 17:25] euriconicacio opened #72 "fetch_all_unread_chats hangs on expected_conditions"
Hey, @Kalebu. Now I'm the one getting stuck on `fetch_all_unread_chats` and `get_list_of_messages` EC waits. 😞
I'll take a look into it later.

[2022-07-01 20:00] rohitsingh30 commented on #12
I think this is not working. Currently, it is throwing this error while trying sending an image

selenium.common.exceptions.ElementClickInterceptedException: Message: element click intercepted: Element <div aria-disabled="false" role="button" tabindex="0" class="_26lC3" data-tab="10" title="Attach" aria-label="Attach">...</div> is not clickable at point (435, 569). Other element would receive the

[2022-07-08 15:08] Bennyelg opened #74 "headless doesn't work."
When I change to headless this is what Im getting if I debug the browser.page_source (found it since wait_until wait forever)
[code]

[2022-07-10 06:32] euriconicacio commented on #74
Hi, @Bennyelg! First of all, thanks for the feedback. In fact, it [seems](https://developer.chrome.com/blog/headless-chrome/) that Selenium/WebDriver/ChromeDriver have a different treatment for Headless Chrome. We'll add to our backlog such treatment in short term.

However, as a Sr Security Engineer & Ethical Hacker, I may ask you: do you have any particular reason to use Headless Chrome? I mean,

[2022-07-10 06:46] Bennyelg commented on #74
Hi, My usage is a coroner case - I wrote an app that logged in into my bank account and provides me a whatssup report that sums up the relevant KPI's - that's because my wife struggling / not have enough power to enter the app they provide due to plenty of reasons.
I want to do it on remote server and not on my laptop, and headless is critical.

[2022-07-10 07:19] euriconicacio commented on #74
Sorry for asking this, but you're aware of the tens of vulnerabilities you have added to your bank account system, aren't you? I mean, I would double-check if this does not go against your bank data transfer policies, otherwise, you could have your bank account wiped out for some other reason and not be covered on insurance terms due to such an implementation.

Anyway, just another piece of advice

[2022-07-10 07:23] #74 closed

[2022-07-10 07:37] Bennyelg commented on #74
Heheh nah its run specificly by me and I am monitoring the flow, its just my basic options and its limited to "read only" user options.

[2022-07-10 14:12] Bennyelg commented on #74
the headless solution is not working I already tried it when modified the class locally.

[2022-07-10 17:34] Bennyelg commented on #74
@euriconicacio @Kalebu

[2022-07-10 17:57] euriconicacio commented on #74
We have added to our backlog the consideration of such treatment in short term.

[2022-07-18 12:55] bekbolsky opened #75 "send_message1() is not working"
It looks like one of the `xpath` are broken. I don't know which one. Throws `UnboundLocalVariable` error on line 249 of `__init.py__` file

[2022-07-20 05:57] euriconicacio commented on #75
Hi, @bekbolsky. I see that we may be facing some backward compatibility on Selenium versions. I've set a quick general fix that may help you with text messages sending: the `just_type_and_send_message` method. Recommended usage:

[code]

Please, let us know if that works as expected. Thanks a lot for reporting the issue!

[2022-07-20 09:48] mohamedallam3 opened #76 "error sending message"
hello sir,
i install your app in my ubuntu machine , and it work , when i use class of find user it work and get the specific user, but when i send message i get exception error.
message of exception is:
element not interactable

[2022-07-21 09:02] bekbolsky commented on #75
It works, but for saved contacts. Anyway `send_message1()` is more convenient.

[2022-07-22 09:50] euriconicacio commented on #75
@bekbolsky could you please tell more about how it is more convenient?

And about stored contact, `find_by_username` works for phone numbers that exist on your list of messages on the left menu. Is it enough, or do you need to send a message to a totally new number?

[2022-07-22 09:54] euriconicacio commented on #76
Hi, @mohamedallam3 .

1. Could you please send more details onthe error? Part of the terminal log would be nice.

2. While that, could you try this approach, please?

`messenger = WhatsApp() messenger.find_by_username("John") messenger.just_type_and_send_message("Bla\nBla\nBla") messenger.browser.quit()`

Thanks a lot!

[2022-07-22 09:57] #61 closed

[2022-07-22 13:00] bekbolsky commented on #75
It is convenient because you don't have to store the number in a phone contact.

Yes, it would be better if it is possible to send a message to the new number.

[2022-07-22 19:16] limlaw commented on #76
same here, since chrome 103 or whatsapp update this everything is breaking.

I am trying the basic ones example

from alright import WhatsApp
messenger = WhatsApp()
messenger.find_user('2557xxxxxz')
messages = ['Morning my love', 'I wish you a good night!']
for message in messages:
        messenger.send_message(message)

it is able to find_user after which it just does nothing when i break the co

[2022-07-23 06:10] euriconicacio commented on #76
HI, @limlaw. Have you tried the approach I suggested above?

[2022-07-23 06:34] euriconicacio commented on #75
Hi, @bekbolsky.

If you reach out to our docs, you'll see you don't need to store the number in a phone contact in order to use `find_by_username` - the method naming is just for easiness of documentation (our README states that it can be used for "_saved-name or number or group_", check it out). You can perform a call of this method like this: `messenger.find_by_username('+1 234 567-8900')` - the

[2022-07-23 06:55] limlaw commented on #76
it gives error as below

Traceback (most recent call last):
  File "<pyshell#1>", line 1, in <module>
    wa.just_type_and_send_message("Bla\nBla\nBla")
AttributeError: 'WhatsApp' object has no attribute 'just_type_and_send_message'

[2022-07-24 11:17] euriconicacio commented on #76
You need to pull from main, or update your version of the `__init__.py` file with the current version available on this repo.

[2022-07-26 16:10] victorterancas commented on #76
It happens the same to me. Whatsapp has changed the "inp_xpath" for just sending a message. Now is a dynamic route:
When the textbox is empty the xpath is:
[code]

While when I introduce something like "blabla" is:
[code]

I send a gif to show the code:

![(10) WhatsApp - Google Chrome 2022-07-26 18-04-34](https://user-images.githubusercontent.com/92316283/181056324-3e2b53ae-37b2-4f71-8a85-0906903

[2022-07-27 00:11] abdullahalshubaili commented on #76
i was not able to send a message also, i have found a solution that worked for me. try changing the inp_xpath to
'//*[@id="main"]/footer/div[1]/div/span[2]/div/div[2]/div[1]/div/div[1]'

[2022-07-27 00:15] abdullahalshubaili commented on #75
i was not able to send a message also but i have found a way to locate send messages.

change the value of inp_xpath line#486 to
'//*[@id="main"]/footer/div[1]/div/span[2]/div/div[2]/div[1]/div/div[1]'

it should work hopefully

[2022-07-27 08:40] euriconicacio commented on #76
Yes, as I said before, we are facing some compatibility issues, and the usage of inp_xpath on send_message and send_message1 are on the roadmap for being updated.

@abdullahalshubaili and @victorterancas: have you tried using the workaround I implemented and suggested above before waving on the issue?

[2022-07-27 09:15] bekbolsky commented on #75
Yes, I changed the value on that line and now it works.
As I said in the comment to the issue,

the problem was in `xpath`. And you found that broken `xpath`. Good job @abdullahalshubaili :+1:

[2022-07-27 12:20] victorterancas commented on #76
Sorry @euriconicacio, I am pretty new to github. I will try to find the workaround. 😄.

[2022-07-27 20:26] abdullahalshubaili commented on #76
hi @euriconicacio thanks for the help,
 first yes i tried the new version init file in this repo but it didnt work for me and i have tried to insert '\n' in the message and still no luck. however , it was working fine last 2 weeks ago.
Second, i didnt get what you mean by waving on the issue. im not very familiar with github vocab also

[2022-08-13 00:37] LucasLourencoo opened #77 "Alright with Edge"
Can i use the alright with the edge?
i'm trying to use it, but everytime is shown to me a new error

There's the code:

from alright import WhatsApp
from selenium import webdriver
from selenium.webdriver.edge.service import Service as EdgeService
from webdriver_manager.microsoft import EdgeChromiumDriverManager

driver = webdriver.Edge(service=EdgeService(EdgeChromiumDriverManager().install()))
me

[2022-08-14 13:17] Kalebu commented on #77
Hi @LucasLourencoo

Can you please share a snapshot of the error messages you're getting?

@euriconicacio

[2022-08-14 14:42] Kalebu commented on #76
Hi guys

I have added a new method ```send_direct_message``` that works well with both saved and unsaved contacts and you can do this by using the below snippet, It does assume your number is saved by default but you can change it by changing the ```saved``` parameter.

[code]

It does receive the following parameters;

1. **mobile[str]** - The mobile number of the user you want to send the messag

[2022-08-14 14:42] #76 closed

[2022-08-14 14:44] #75 closed

[2022-08-14 14:45] Kalebu commented on #55
Hi guys

I have added a new method ```send_direct_message``` that works well with both saved and unsaved contacts and you can do this by using the below snippet, It does assume your number is saved by default but you can change it by changing the ```saved``` parameter.

[code]

It does receive the following parameters;

1. **mobile[str]** - The mobile number of the user you want to send the messag

[2022-08-14 14:45] #55 closed

[2022-08-14 14:48] Kalebu commented on #53
Yes, I have updated ```find_user```, now it should work even if you a WhatsApp app installed

And also

I have added a new method ```send_direct_message``` that works well with both saved and unsaved contacts and you can do this by using the below snippet, It does assume your number is saved by default but you can change it by changing the ```saved``` parameter.

[code]

It does receive the follow

[2022-08-14 14:48] #53 closed

[2022-08-15 02:13] LucasLourencoo commented on #77
![image](https://user-images.githubusercontent.com/102922249/184566257-d93610d7-041e-4d61-a14c-08651af38cae.png)

everytime that i run the same code that i wrote before, this error apears

[2022-08-15 09:14] euriconicacio commented on #77
It is not finding EdgeChromium webdriver, as the error says. We can try to improve this and catch it as an exception, @Kalebu.

@LucasLourencoo, could you please to download/upgrade your EdgeChromium driver [here](https://docs.microsoft.com/microsoft-edge/webdriver-chromium/?tabs=c-sharp) and retrying?

Thanks.

[2022-08-19 13:59] badi95 opened #78 "Getting error "AttributeError: 'WebDriver' object has no attribute 'find_elements_by_xpath'""
According to this: https://networkcult.com/fix-attributeerror-webdriver-object-has-no-attribute-find_elements_by_xpath-2190/
Seems like selenium 4.3 has deprecated find_element_by_* and find_elements_by_* which breaks alright :(

[2022-08-22 09:00] Kalebu commented on #78
Fixed by #79, please pull the latest code

Kudos to @FedericoCacciari

[2022-08-22 09:00] #78 closed

[2022-08-25 20:28] badi95 commented on #78
Tested with the latest code and it sends messages, but times out and spits out an error
[code]

[2022-09-01 09:26] eliyotz commented on #72
me too

[2022-09-01 09:33] eliyotz opened #80 "The get_list_of_messages() and fetch_all_unread_chats() operations never complete"
I am trying to use the operations `get_list_of_messages()` and `fetch_all_unread_chats()`, and the operations never returning a response. instead, they just waiting forever

[2022-09-01 10:01] eliyotz opened #81 "error 'no such element: Unable to locate element'"
i fixed `self.browser.find_element_by_xpath(
                            '//div[@id="main"]/header/div[1]/div[1]/div[1]/span'
                        ).get_attribute("data-testid")`
to `                        self.browser.find_element(By.XPATH,
                            '//div[@id="main"]/header/div[1]/div[1]/div[1]/span'
                        ).get_attribute("data-testid")`
and i gets this e

[2022-09-04 17:51] eliyotz commented on #80
Update for your attention  @Kalebu @euriconicacio  :  the features did not work when there were only two chats. After the chats have multiplied - the features are working

[2022-09-05 06:41] eliyotz commented on #80
t doesn't work for me on one of the users even after filling the chat list

[2022-09-23 16:01] GSstarGamer opened #82 "Headless browser?"

[2022-10-01 04:20] hongquansd opened #84 "Function: find_by_username alway return True after find one username OK"
Function: find_by_username alway return True after find one username OK

[2022-10-11 16:30] AtomicNess123 opened #85 "Simultaneous messaging to multiple contacts"
Excellent code. Is it possible to send a message to multiple contacts simultaneously?

[2022-10-12 06:45] Kalebu commented on #85
Hi @AtomicNess123

Since `Alright` works by controlling the browser and not API integration, you can only send one message at a time but not concurrently, If you're sending to multiple contacts, the current best approach is to do it with a `for-loop` as shown below;

[code]

Hope that answers your question

[2022-10-12 06:49] AtomicNess123 commented on #85
Thanks, of course, with a loop! Thanks!

[2022-10-12 06:49] #85 closed

[2022-10-12 06:53] Kalebu commented on #85
You're welcome @AtomicNess123

[2022-10-12 07:28] euriconicacio commented on #82
Hi, @GSstarGamer.

Please, refer to these links: https://github.com/Kalebu/alright/issues/74#issuecomment-1179672290 and https://github.com/Kalebu/alright/issues/74#issuecomment-1179772020.

Thanks.

[2022-10-12 07:28] #82 closed

[2022-10-12 07:30] euriconicacio commented on #84
Hi, @hongquansd.

Yes, it does. That is the expected behavior, thanks for the feedback. If you have any additional request, please feel free to propose it.

[2022-10-12 07:30] #84 closed

[2022-10-12 07:31] euriconicacio commented on #77
Closing this since it has been unanswered for 2 months.

[2022-10-12 07:31] #77 closed

[2022-10-12 07:32] #30 closed

[2022-10-19 13:35] web-triton opened #86 "AttributeError: 'WebElement' object has no attribute 'aria_role'"
====== WebDriver manager ======
Current google-chrome version is 106.0.5249
Get LATEST chromedriver version for 106.0.5249 google-chrome
Driver [C:\Users\mdolm\.wdm\drivers\chromedriver\win32\106.0.5249.61\chromedriver.exe] found in cache

DevTools listening on ws://127.0.0.1:59091/devtools/browser/b75f5f59-4093-4469-a55f-3e0f002fdb45
2022-10-19 19:33:59,520 - root -- [ERROR] >> An exception occur

[2022-10-20 19:59] allesman opened #87 "Throws exception "object has no attribute 'find_elements_by_xpath'""
The exception is thrown when I use `messenger.find_by_username("...") `
I think the new way to do it in source code would be
`driver.find_element(By.XPATH, ...) `
instead of
`driver.find_elements_by_xpath`

[2022-10-20 20:00] #87 closed

[2022-10-20 20:00] allesman commented on #87
https://github.com/Kalebu/alright/pull/79

[2022-10-21 19:59] allesman commented on #15
Thanks for the implementation! However, sometimes the time the program waits for the message to be sent is unreasonably long, so I would like to have method that instantly closes the window.

[2022-10-24 08:47] Kalebu commented on #86
Hi @web-triton

I suggest you use the [send-direct-message](https://github.com/Kalebu/alright#send-direct-message-new) method

[code]

Let me know if you still have issues

[2022-10-24 08:49] web-triton commented on #86
Thank you for your reply

[2022-10-24 09:05] web-triton commented on #86
Thank you messenger.send_direct_message('25573652xxx', 'Hello') it worked

[2022-10-24 09:07] Kalebu commented on #86
Cool, I'm glad it did

I will now close this issue

[2022-10-24 09:07] #86 closed

[2022-10-26 13:20] vinifroes commented on #19
Unfortunately no.

[2022-10-31 08:25] 2019011821 opened #88 "element not interactable error on sending picture"
Hi this library works fine for sending text messages but is giving error while sending picture.
It is able to select picture but not able to hit the send button.
Thanks

[2022-11-06 09:25] Deaddogfuneral opened #90 "How do i send a file as message [help]"
I have a text document saved in the working directory, is has multiple paragraphs.

what should i do to send the file as a message, without screwing up the formatting

dummy file 👇️
[code]
i want to keep the new lines and stuff, similar to how you would copy and paste this file

[2022-11-06 10:54] #90 closed

[2022-11-09 13:20] Kalebu commented on #88
Thank you for fixing this @badi95

I will now close this issue

[2022-11-09 13:20] #88 closed

[2022-11-22 07:10] syedizhar1979 opened #91 "Unable to send whatsapp messages to unknown/unsaved numbers"
Dear Members, please help me regarding whatsapp messages send by ALRIGHT ... it starts happens when whatsapp updates themselves

i have a unsaved number and i am trying to send messages but error is returning
**2022-11-22 11:54:15,478 - root -- [INFO] >> 4**

my code is under

i also tried without + sign but unable to send

[2022-11-22 07:27] syedizhar1979 commented on #91
![invalid whatsappno](https://user-images.githubusercontent.com/53652333/203251504-2a73bf73-37ef-4e9e-955f-f692f6a730a6.JPG)

[2022-11-22 08:24] Kalebu commented on #91
This error message shows that the number you're trying to find does not have a valid WhatsApp Account.

@syedizhar1979

[2022-11-22 10:00] syedizhar1979 commented on #91
Dear Mr. Kalebu, i am using the valid number on it but it only allows me to send message for those who are already added in my contact list/whatsapp list
so i am trying to clear you once again that on unknown/unsaved your code is not working

[2022-11-22 10:33] syedizhar1979 commented on #91
you can check this number +923468203866, this is original number of my customer, which is not added in my contact list or whatsapp list
so this is new number/unknown number or unsaved number, where whatsapp is not allowing to send direct message
and giving error

![image-whatsapp](https://user-images.githubusercontent.com/53652333/203291473-54658c5d-d674-4dd9-991a-bbfedb8641df.jpeg)

[2022-11-22 10:33] syedizhar1979 commented on #91
the above whatsapp picture showing that number is exist on whatsapp

[2022-11-22 10:35] syedizhar1979 commented on #91
i would like to advise you all that please check this alright wrapper code on new/unsaved/unknown whatsapp number, now whatsapp increases the security last week through its new update, please check

[2022-11-22 11:47] Kalebu commented on #91
Thank you for clarifying and letting us know

We look into and see if there are ways around this

@syedizhar1979  @euriconicacio

[2022-11-23 05:12] syedizhar1979 commented on #91
@Kalebu i am waiting for this

[2022-11-23 14:37] matanmoshe commented on #91
I encounter the same issue..
Worked 2 weeks ago and now fails to find unsaved contacts

[2022-11-23 19:34] matanmoshe opened #92 "Assertions and status"
Is it possible to add to each method a return indicator if operation succeed? (Currently some method uses logger to indicate but it is impossible to use it as a Realtime indicator)
For example:
1. If find_user fails to find the user -  return False ( Return True if succeed) or raise an error
2. If send_direct_message manage to send the message - return True, else return False

It will be great if